.article {
	position: relative;
	display: flex;
	flex-direction: column;
	transition: .2s;
	padding: 5.5rem 0;
}

.article:last-child::after {
	display: none;
}

// .article:first-child, .article:last-child {
// 	padding: 0;
// }

.article::after {
	content: '';
	height: 1px;
	background: var(--hoverGrey);
	width: 100%;
	position: absolute;
	bottom: 0;
}

.info {
	display: flex;
	flex-direction: column;
}

.title {
	color: black;
	font-size: 2.5rem;
	font-weight: 800;
}

.meta {
	color: black;
	font-size: 1.25rem;
	font-weight: 700;
	margin: 2rem 0;
	text-transform: uppercase;
	border-bottom: solid 1px black;
	width: fit-content;
}

.description {
	color: black;
	font-size: 1.6rem;
	font-weight: 400;
}

.buttons {
	width: 100%;
	display: flex;
	margin-top: 2rem;
}

.button {
	width: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	color: white;
	font-weight: 600;
	font-size: 1.25rem;
	padding: 10px;
	position: relative;
}

.button:hover {
	color: var(--hoverGrey);
}

.bookmark, .read {
	composes: button;
}

.bookmark::after {
	content: '';
	height: 100%;
	width: 1px;
	background: rgba(255, 255, 255, 0.333);
	position: absolute;
	right: 0;
}

@media screen and (min-width: 768px) {
	.article {
		padding: 75px 0;
	}
}