.article {
	position: relative;
	display: flex;
	flex-direction: column;
	transition: .2s;
	padding: 5rem 0;
}

.article:last-child::after {
	display: none;
}

.article::after {
	content: '';
	height: 1px;
	background: rgb(133, 133, 133, .66);
	width: 100%;
	position: absolute;
	bottom: 0;
}

.info {
	display: flex;
	flex-direction: column;
}

.title {
	color: black;
	font-size: 2.25rem;
	font-weight: 800;
}

.meta {
	color: black;
	font-size: 1.4rem;
	font-weight: 700;
	margin: 2rem 0;
	width: fit-content;
}

.spacer {
	display: inline;
}

.excerpt {
	color: black;
	font-size: 1.5rem;
	font-weight: 400;
}

.buttons {
	width: 100%;
	display: flex;
	margin-top: 2rem;
}

.button {
	width: 50%;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	background: black;
	color: white;
	font-weight: 600;
	font-size: 1.25rem;
	padding: 1rem 0;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.bookmark, .read {
	composes: button;
}

.bookmark {
	border-right: var(--thinWhite);
	border-radius: 5px 0 0 5px;
}

.read {
	border-radius: 0 5px 5px 0;
}

@media screen and (min-width: 768px) {
	.article {
		padding: 75px 0;
	}
}

@media screen and (min-width: 1366px) {
	.button:hover {
		background: #111;
	}
}

.button:active {
	background: #222;
}