.results {
	// min-height: 100vh;
	padding: 0 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.preResults {
	composes: results;
	display: none;
}

.articles {
	padding: 10rem 0 5rem;
	position: relative;
	display: grid;
	grid-template-columns: minmax(300px, 550px);
}
