.preResults {
	display: none;
}

.results {
	padding: 0 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.articles {
	position: relative;
	display: grid;
	grid-template-columns: minmax(300px, 550px);
}

