.results {
	padding: 0 2.5%;
}

.nav {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

.nums {
	// margin: 0 20px;
	font-size: 20px;
	font-weight: 600;
	color: var(--dark);
}

.buttons {
	display: flex;

}

.buttons > svg {
	font-size: 28px;
	cursor: pointer;
}

.buttons > svg:nth-child(2) {
	margin-left: 20px;
}

.articles {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 20px 20px;
	// padding: 50px 20px;
	// padding: 0 2.5%;
}

@media screen and (max-width: 1440px) {
	.nums {
		font-size: 16px;
	}
	.buttons > svg {
		font-size: 24px;
	}
	.articles {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
	.articles {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (max-width: 480px) {
	.articles {
		grid-template-columns: 1fr;
	}
}