.bookmark {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	position: relative;
	width: 100%;
	padding: 1rem 1.5rem;
}

.bookmark:first-child {
	margin-top: 1rem;
}

.bookmark:last-child {
	margin-bottom: 1rem;
}

.title {
	font-size: 1.6rem;
	font-weight: 400;
	color: white;
	user-select: none;
	z-index: 2;
	cursor: pointer;
	width: 100%;
}

.remove {
	display: flex;
	align-items: center;
	background: transparent;
	cursor: pointer;
	padding-left: 2rem;
}

.icon {
	font-size: 2.5rem;
	color: white;
	pointer-events: none;
	position: relative;
	left: 2px;
}

@media screen and (min-width: 1366px) {
	.bookmark:first-child {
		margin: 0;
	}
	
	.bookmark:last-child {
		margin: 0;
	}
}	