.nav {
	width: 100%;
	position: fixed;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	background: black;
	border-top: var(--thinWhite);
	transition: .25s;
	bottom: 0;
	transform: translateY(100%);
	will-change: transform;
}

.navShow {
	composes: nav;
	transform: translateY(0);
}

.paginate {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
}

.paginate::after {
	content: '';
	position: absolute;
	top: 0;
	height: 1px;
	width: 100%;
	background: linear-gradient(to right, var(--purp1), var(--blue1));
}

.btn {
	background: transparent;
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 100%;
	padding: 1.5rem;
}

.icon {
	font-size: 2rem;
	color: white;
}

.prev {
	composes: btn;
	justify-content: flex-start;
	// border-right: var(--thinWhite);
}

.pages {
	font-size: 1.5rem;
	font-weight: 400;
	color: white;
}

.next {
	composes: btn;
	justify-content: flex-end;
	// border-left: var(--thinWhite);
}