.nav {
	width: 100%;
	position: fixed;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	background: black;
	border-top: var(--thinWhite);
	transition: .25s;
	bottom: 0;
	transform: translateY(100%);
}

.navShow {
	composes: nav;
	transform: translateY(0);
}

.paginate {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
}

.paginateLoading {
	composes: paginate;
}

.paginate::after {
	content: '';
	position: absolute;
	top: -2px;
	left: -100vw;
	height: 3px;
	width: 300vw;
	background: linear-gradient(to right, var(--blue), var(--purp), var(--red))
}

.paginateLoading::after {
	animation: var(--loading) 1.25s infinite ease-in-out;
}

.btn {
	background: transparent;
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 100%;
	padding: 1.5rem;
}

.icon {
	font-size: 2rem;
	color: white;
}

.prev {
	composes: btn;
	justify-content: flex-start;
	// border-right: var(--thinWhite);
}

.pages {
	font-size: 1.5rem;
	font-weight: 400;
	color: white;
}

.next {
	composes: btn;
	justify-content: flex-end;
	// border-left: var(--thinWhite);
}