.credits {
	display: flex;
	flex-direction: column;
}

.credit {
	font-size: 1.6rem;
	font-weight: 400;
	color: white;
	padding: 1rem 2rem;
}

// .credit:nth-child(2) {
// 	padding: 1rem 0;
// }

// .credit:hover {
// 	color: var(--hoverGrey);
// }

@media screen and (min-width: 1366px) {
	.credit:hover {
		background: #111;
	}
}

.credit:active {
	background: #222;
}