.credits {
	display: flex;
	flex-direction: column;
}

.credit {
	font-size: 1.6rem;
	font-weight: 400;
	color: white;
}

.credit:nth-child(2) {
	padding: 20px 0;
}

.credit:hover {
	color: var(--hoverGrey);
}