.filter {
	background-color: var(--dark);
	height: 100vh;
	width: 25vw;
	position: fixed;
	top: 0;
	right: 0;
	transition: .2s;
	transform: translate(105%, 0);
	will-change: transform;
	z-index: 2;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.filterOpen {
	composes: filter;
	transform: translate(0, 0);
}

.form {
	display: flex;
	flex-direction: column;
	height: calc(100% - 64px);
}


.sources {
	overflow-y: scroll;
	margin-bottom: 5%;
	scrollbar-width: thin;
	scrollbar-color: white;
}

.sources::-webkit-scrollbar {
	background-color: transparent;
	width: 2px;
}

.sources::-webkit-scrollbar-thumb {
	background-color: #555;
}

.submit {
	color: var(--dark);
	background: white;
	font-size: 20px;
	font-weight: 600;
	padding: 10px 0;
	width: 100%;
	border-radius: 50px;
	cursor: pointer;
	// background: linear-gradient(135deg, var(--blue), var(--purple));
	transition: .2s;
}

.submit:hover {

}

@media screen and (max-width: 1440px) {
	.filter {
		width: 33vw;
	}
	.form {
		height: calc(100% - 60px);
	}
	.submit {
		font-size: 16px;
	}
}

@media screen and (max-width: 1024px) {
	.filter {
		width: 50vw;
	}
}

@media screen and (max-width: 768px) {
	.filter {
		// width: 100vw;
	}
}


@media screen and (max-width: 480px) {
	.filter {
		width: 100vw;
	}
}