.landing {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header {
	padding: 0 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: 5rem;
	font-weight: 800;
	text-align: center;
	color: black;
}

.form {
	width: 100%;
	display: flex;
	align-items: flex-end;
	position: relative;
	border-bottom: solid 2px black;
	padding: 0 10px 5px;
}

.formLoading {
	composes: form;
}

.formLoading::after {
	content: '';
	width: 25%;
	position: absolute;
	bottom: -2px;
	left: 0;
	height: 2px;
	background: var(--gold);
	animation: loading 1s infinite;
}

@keyframes loading {
	0% {
		transform: translate(0, 0);
	} 
	50% {
		transform: translate(300%, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}

.topic {
	font-size: 2.5rem;
	font-weight: 800;
	padding-top: 75px;
	width: 100%;
	color: black;
	background: transparent;
}

.topic:focus  {
	outline: none;
}

.topic::placeholder {
	color: var(--hoverGrey);
	// font-style: italic;
}

.topic:valid {
	// color: var(--purple);
}

.submit {
	justify-content: center;
	align-items: center;
	background: transparent;
	transition: .2s;
	cursor: pointer;
}

.submit > svg {
	color: black;
	font-size: 3rem;
	transition: .2s;
	will-change: transform;
}

.submit:hover > svg {
	transform: rotate(45deg);
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
	.title {
		font-size: 4rem;
	}
}

@media screen and (max-width: 480px) {
	.title {
		font-size: 3.5rem;
		text-align: left;
	}
	.topic {
		padding-top: 50px;
		font-size: 2rem;
	}
	.submit > svg {
		font-size: 2.5rem;
	}
}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 360px) {

}