.landing {
	height: 100vh;
	width: 100%;
	// padding: 0 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: white;
}

.header {
	width: 100%;
	padding: 0 2.5%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	font-size: 100px;
	font-weight: 900;
	// color: var(--blue);
	text-align: center;
	margin: 0;
	// --webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
	// background: linear-gradient(to right, var(--blue), #7d17d9);
	background-image: linear-gradient(to right, var(--blue), #7d17d9);
  background-clip: text;
  color: transparent;
	// padding: 10px;
}

.text {
	// width: 50%;
	font-size: 28px;
	font-weight: 400;
	color: var(--dark);
	margin: 20px 0 50px;
	text-align: center;
	line-height: 1.4;
}

.form {
	display: flex;
	height: 50px;
	width: 33%;
	// justify-content: space-between;
	// border-bottom: solid 2px var;
	position: relative;
	// padding: 10px;
}

.form::after {
	content: '';
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 2px;
	background: linear-gradient(to right, var(--blue), #7d17d9);
	// box-shadow: 0 3px 7px var(--blue);
	// 0 10px 15px -10px var(--blue);
	left: 0;
}

.topic {
	font-size: 20px;
	font-weight: 400;
	padding: 10px;
	width: 100%;
	// color: var(--dark);
	// padding: 20px;
	// border-radius: 50px 0 0 50px;
	// box-shadow: 0 0 7.5px -2.5px #333 inset;
	// height: 100%;
	// width: 85%;
	// width: 75px;
	color: var(--blue);
}

.topic:focus  {
	outline: none;
}

.topic::placeholder {
	color: var(--blue);
	// opacity: .5;
}

.topic:valid {
	// color: var(--purple);
}

.submit {
	// background-color: var(--blue);
	// border-radius: 0 50px 50px 0;
	// display: flex;
	justify-content: center;
	align-items: center;
	// height: 100%;
	// width: 15%;
	// width: 75px;
	background: transparent;
	transition: .2s;
	cursor: pointer;
	padding: 10px;
}

.submit > svg {
	// color: white;
	color: var(--purple);
	font-size: 28px;
	transition: .2s;
	will-change: transform;
}

.submit:hover > svg {
	// cursor: pointer;
	// color: var(--purple);
	transform: translate(5px, 0);
}

@media screen and (max-width: 1440px) {
	.form {
		width: 40%;
	}
}

@media screen and (max-width: 1024px) {
	.form {
		width: 66%;
	}
}

@media screen and (max-width: 768px) {
	.title {
		font-size: 85px;
	}
	.text {
		font-size: 24px; 
	}
	.topic {
		font-size: 18px;
	}
	.form { 
		width: 75%;
	}
}

@media screen and (max-width: 480px) {
	.title {
		font-size: 60px;
	}
	.text {
		font-size: 20px;
	}
	.topic {
		font-size: 16px;
	}
	.form {
		width: 100%;
	}
}

@media screen and (max-width: 375px) {
	.title {
		font-size: 50px;
	}
	.text {
		font-size: 20px;
	}
	.topic {
		font-size: 16px;
	}
}

@media screen and (max-width: 360px) {
	.title {
		font-size: 45px;
	}
}