.item {
	width: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.itemOpen {
	composes: item;
}

.itemOpen > .header {
	border-bottom: var(--thinWhite);
}

.itemOpen .icon {
	transform: rotateX(180deg);
}

.header {
	width: 100%;
	display: flex;
	padding: 2rem 1.5rem;
	justify-content: space-between;
	align-items: center;
	transition: border .35s;
}

.heading {
	color: white;
	font-weight: 600;
	font-size: 2.1rem;
}

.icon {
	font-size: 2rem;
	color: white;
	transition: .35s cubic-bezier(0.4, 0, 0.2, 1);
	will-change: transform;
}

.dropdown {
	height: 0px;
	overflow-y: scroll;
	transition: .35s cubic-bezier(0.4, 0, 0.2, 1);
	will-change: height;
	cursor: default;
	border-bottom: var(--thinWhite);
	scrollbar-width: 0;
}


.dropdown::-webkit-scrollbar {
	width: 0px;
}