.item {
	width: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	border-bottom: var(--thinWhite);
	cursor: pointer;
}

.itemOpen {
	composes: item;
}

.itemOpen .icon {
	transform: rotateX(180deg);
}

.itemOpen .dropdown {
	padding: 5%;
	opacity: 1;
}

.header {
	width: 100%;
	display: flex;
	padding: 2rem;
	justify-content: space-between;
	align-items: center;
}

.header:hover > .title, .header:hover > .icon {
	color: var(--hoverGrey);
}

.title {
	color: white;
	font-weight: 600;
	font-size: 2rem;
}

.noBookmark {
	font-size: 1.6rem;
	font-weight: 400;
	color: white;
	user-select: none;
	z-index: 2;
	padding: 10px 0;
}

.icon {
	font-size: 2rem;
	color: white;
	// transition: .25s;
}

.dropdown {
	padding: 0 2rem;
	height: 0px;
	overflow-y: scroll;
	transition: .25s;
	will-change: height;
	cursor: default;
}

.dropdown::-webkit-scrollbar {
	width: 0px;
}

.dropdown::-webkit-scrollbar-thumb {

}
