.modal {
	background: black;
	position: fixed;
	top: 50px;
	right: 0;
	height: calc(100vh - 50px);
	width: 100vw;
	transform: translate(100%, 0);
	transition: .25s;
	will-change: transform;
	display: flex;
	z-index: 3;
	// border-left: var(--thinWhite);
}

.modalOpen {
	composes: modal;
	transform: translate(0, 0);
}

.menu {
	display: flex;
	flex-direction: column;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.modal {
		top: 60px;
		height: calc(100vh - 60px);
		width: 60vw;
	}
}

@media screen and (min-width: 1366px) {
	.modal {
		top: 60px;
		height: calc(100vh - 60px);
		width: 30vw;
	}
}
