.modal {
	background: black;
	position: fixed;
	// top: 60px;
	bottom: 0;
	right: 0;
	height: calc(100vh - 60px);
	// height: calc(var(--vh) * 100 - 60px);
	height: var(--navHeight);
	width: 100vw;
	transform: translate(100%, 0);
	transition: .25s;
	will-change: transform;
	display: flex;
	z-index: 3;
	// border-left: var(--thinWhite);
	// overflow-y: scroll;
}

// .modal::-webkit-scrollbar {
//   width: 0px;
// }

.modalOpen {
	composes: modal;
	transform: translate(0, 0);
}

.menu {
	display: flex;
	flex-direction: column;
	width: 100%;
}

@media screen and (min-width: 768px) {
	.modal {
		// top: 60px;
		// height: calc(100vh - 60px);
		width: 70vw;
	}
	.modalOpen {
		border-left: var(--thinWhite);
	}
}

@media screen and (min-width: 1366px) {
	.modal {
		// top: 60px;
		// height: calc(100vh - 60px);
		width: 30vw;
	}
}
