.navBar {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 3;
	display: flex;
	background: #333;
	padding: 0 2.5%;
	// background: linear-gradient(to right, var(--blue), var(--purple));
}

// .navBar::after {
// 	content: '';
// 	width: 100%;
// 	position: absolute;
// 	bottom: 0;
// 	left: 0;
// 	height: 2px;
// 	background: linear-gradient(to right, var(--blue), var(--purple));
// }


.menu {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	list-style: none;
	// padding: 20px;
}

.item {
	font-size: 20px;
	font-weight: 700;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: .2s;
	will-change: transform;
	height: 100%;
	padding: 20px;
}

// .item:hover {
// 	background-color: #555;
// 	box-shadow: 0 0 15px -5px #222 inset;
// }

.item:hover > svg {
	// color: var(--blue);
	color: #999;
}

.item > svg {
	color: white;
	// color: var(--dark);
	font-size: 24px;
	transition: .2s;
}

.top {
	composes: item;
	position: absolute;
	left: 2.5%;
}

.top:hover > svg {
	// color: var(--blue);
	color: #999;
}

.info {
	composes: item;
}

.filter {
	composes: item;
}

.readingList {
	composes: item;
	// margin-right: 20px;
}

.readingOpen {
	composes: readingList;
}

.readingOpen > svg {
	color: #999;
}

.filterOpen {
	composes: filter;
}

.filterOpen > svg {
	color: #999;
}

@media screen and (max-width: 1440px) {
	.item > svg {
		font-size: 20px;
	}
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 480px) {
	// .menu {
	// 	padding: 0 2.5%;
	// }
	// .top {
	// 	left: 2.5%;
	// }
}