.nav {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 3;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: black;
	// border-bottom: var(--thinWhite);
}

.navLoading {
	composes: nav;
}

.nav::after {
	content: '';
	position: absolute;
	bottom: -2px;
	left: -100vw;
	height: 3px;
	width: 300vw;
	background: linear-gradient(to left, #D00000, #8c1eb8, #1E91D6);
}

.navLoading::after {
	animation: loading 1.25s infinite ease-in-out;
}

@keyframes loading {
	0% {
		transform: translateX(0);
	} 
	33% {
		transform: translateX(100vw);
	}
	66% {
		transform: translateX(-100vw);
	}
	100% {
		transform: translateX(0);
	}
}

.logo {
	font-family: 'Permanent Marker';
	font-size: 2rem;
	color: white;
	padding-left: 1.5rem;
}

.btn {
	display: flex;
	align-items: center;
	position: relative;
	height: 100%;
	padding: 1.5rem;
	background: transparent;
	cursor: pointer;
	// border-left: var(--thinWhite);
}


.barWrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
}

.btnOpen {
	composes: btn;
}

.bar {
	position: absolute;
	height: 2px;
	width: inherit;
	background: white;
	transition: .25s;
}

.barOne {
	composes: bar;
	transform: translate(0, 3px);
}

.barTwo {
	composes: bar;
	transform: translate(0, -3px);
}

.btnOpen .barOne {
	transform: rotate(45deg);
}

.btnOpen .barTwo {
	transform: rotate(-45deg);
}

@media screen and (min-width: 1366px) {
	.btn:hover {
		background: #111;
	}
}

.btn:active {
	background: #222;
}