.nav {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2;
	display: flex;
	align-items: center;
	// justify-content: space-between;
	justify-content: center;
	background: black;
	border-bottom: var(--thinWhite);
	padding: 10px 0;
	transition: .25s;
	will-change: transform;
}

.navShow {
	composes: nav;
	transform: translateY(60px);
}

.pagination {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	max-width: 550px;
}

.arrow {
	background: transparent;
	display: flex;
	align-items: center;
	cursor: pointer;
	height: 100%;
	padding: 0 2rem;
	flex: 1;
}

.arrow:hover > svg {
	color: var(--hoverGrey);
}

.arrow > svg {
	font-size: 1.5rem;
	color: white;
}

.prev {
	composes: arrow;
	justify-content: flex-start;
}

.next {
	composes: arrow;
	justify-content: flex-end;
}

.pages {
	font-size: 1.25rem;
	font-weight: 600;
	color: white;
}

@media screen and (min-width: 768px) {
	.arrow {
		padding: 0;
	}
}