.publisher {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	// padding: 10px 0;
	list-style: none;
	// transition: .2s;
	border-radius: 5px;
	cursor: pointer;
	position: relative;
}

.publisher:hover {
	background-color: #555;
	box-shadow: 0 0 10px var(--dark) inset;
}

// .publisher:hover::after {
// 	background: linear-gradient(to right, var(--blue), var(--purple));
// }

// .publisher::after {
// 	content: '';
// 	width: calc(100% - 10px);
// 	height: 2px;
// 	position: absolute;
// 	bottom: 0;
// 	left: 0;
// 	background: transparent;
// 	transition: .2s;
// }

.label {
	font-size: 24px;
	font-weight: 800;
	color: white;
	width: 100%;
	cursor: pointer;
	user-select: none;
}

.checkbox {
	// background-image: url('/images/check.svg');
	appearance: none;
	// height: 15px;
	// width: 15px;
	// cursor: pointer;
	// border-radius: 2.5px;
	// background-color: white;
}

.checkbox + .check {
	font-size: 28px;
	color: white;
	visibility: hidden;
	// position: absolute;
}

.checkbox:checked {
	// background-color: var(--purple);
}

.checkbox:checked + .check {
	visibility: visible;
}

@media screen and (max-width: 1440px) {
	.label {
		font-size: 20px;
	}
	.checkbox + .check {
		// font-size: 24px;
	}

}