.reading {
	background-color: var(--dark);
	height: calc(100vh - var(--navHeight));
	width: 25vw;
	position: fixed;
	bottom: 0;
	right: 0;
	transition: .2s;
	transform: translate(105%, 0);
	will-change: transform;
	z-index: 2;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	list-style: none;
}

.readingOpen {
	composes: reading;
	transform: translate(0, 0);
}

.articlesLabel {
	font-size: var(--meta);
	font-weight: 600;
	color: var(--mg);
}

.articles {
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: scroll;
	scrollbar-width: thin;
	scrollbar-color: white;
	margin: 20px 0;
	list-style: none;
}

.articles::-webkit-scrollbar {
	background-color: transparent;
	width: 0;
}

.articles::-webkit-scrollbar-thumb {
	// background-color: #555;
}

.article {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	// list-style: none;
	// border-radius: 5px;
	cursor: pointer;
	// position: relative;
	
}

.article:last-child {
	padding: 10px 0 0 0;
}

.article:first-child {
	padding: 0 0 10px 0;
}

.article:hover > .title {
	color: var(--mg);
}

.title {
	font-size: var(--title);
	font-weight: 800;
	color: white;
	width: 100%;
	cursor: pointer;
	user-select: none;
}

// .title:hover {
// 	color: var(--mg);
// }

.remove {
	font-size: 32px;
	color: white;
	position: relative;
	left: 5px;
}

.remove:hover {
	color: var(--mg);
}

.remove > path {
	pointer-events: none;
}

.noArticles {
	color: white;
	font-size: var(--title);
	font-weight: 800;

}

@media screen and (max-width: 1440px) {
	.reading {
		width: 33vw;
	}
	.remove {
		font-size: 28px;
	}
	.title {
		font-size: 20px;
	}
}

@media screen and (max-width: 1024px) {
	.reading {
		width: 50vw;
	}
}

@media screen and (max-width: 480px) {
	.reading {
		width: 100vw;
	}
}