.source {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	list-style: none;
	cursor: pointer;
	position: relative;
	width: 100%;
}

.source:first-child {
	padding: 0 0 10px 0;
}

.source:last-child {
	padding: 10px 0 0 0;
}

.source:hover > .label, .source:hover > .check {
	// opacity: .75;
	color: var(--hoverGrey);
}

.label {
	// font-size: var(--title);
	font-size: 2rem;
	font-weight: 600;
	color: white;
	// width: 100%;
	cursor: pointer;
	user-select: none;
	transition: 0s;
}

.checkbox {
	appearance: none;
}

.checkbox + .check {
	font-size: 3rem;
	color: white;
	visibility: hidden;
	transition: 0s;
}

.checkbox:checked + .check {
	visibility: visible;
}

@media screen and (max-width: 1440px) {

}

@media screen and (max-width: 480px) {
	.label {
		font-size: 1.6rem;
	}
	.checkbox + .check {
		font-size: 2.4rem;
	}
}