.source {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	list-style: none;
	// border-radius: 5px;
	cursor: pointer;
	position: relative;
	// border-bottom: solid 1px transparent;
}

.source:first-child {
	padding: 0 0 10px 0;
}

.source:last-child {
	padding: 10px 0 0 0;
}

.source:hover {
	// border-bottom: solid 1px var(--mg);
}

.source:hover > .label, .source:hover > .check {
	color: var(--mg);
}

.label {
	font-size: var(--title);
	font-weight: 800;
	color: white;
	width: 100%;
	cursor: pointer;
	user-select: none;
}

.checkbox {
	appearance: none;
}

.checkbox + .check {
	font-size: var(--title);
	color: white;
	visibility: hidden;
}

.checkbox:checked + .check {
	visibility: visible;
}

@media screen and (max-width: 1440px) {
	// .label {
	// 	font-size: 20px;
	// }
}